In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./location_code.csv")

In [3]:
df.head()

         지역코드          읍면동 시도_명  시도_code 시군구_명  시군구_code 읍면동_명    읍면동_code
0  1168010300  서울시 강남구 개포동  서울시       11   강남구     11680   개포동  1168010300
1  1168010800  서울시 강남구 논현동  서울시       11   강남구     11680   논현동  1168010800
2  1168010600  서울시 강남구 대치동  서울시       11   강남구     11680   대치동  1168010600
3  1168011800  서울시 강남구 도곡동  서울시       11   강남구     11680   도곡동  1168011800
4  1168010500  서울시 강남구 삼성동  서울시       11   강남구     11680   삼성동  1168010500

In [4]:
df["시도_code"] = df["시도_code"].astype(str)

In [5]:
df["시군구_code"] = df["시군구_code"].astype(str)

In [6]:
df["읍면동_code"] = df["읍면동_code"].astype(str)

In [7]:
city = df[["시도_명", "시도_code"]]

In [8]:
city = city.drop_duplicates().reset_index(drop=True)

In [9]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시도_명     17 non-null     object
 1   시도_code  17 non-null     object
dtypes: object(2)
memory usage: 404.0+ bytes

In [10]:
city.columns = ["city_name", "city_code"]

In [11]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city_name  17 non-null     object
 1   city_code  17 non-null     object
dtypes: object(2)
memory usage: 404.0+ bytes

In [80]:
city.to_csv("city.csv", index = False)

In [81]:
df.head(1)

         지역코드          읍면동 시도_명 시도_code 시군구_명 시군구_code 읍면동_명    읍면동_code
0  1168010300  서울시 강남구 개포동  서울시      11   강남구    11680   개포동  1168010300

In [82]:
district = df[["시도_code", "시군구_명", "시군구_code"]]

In [83]:
district = district.drop_duplicates().reset_index(drop=True)

In [84]:
district.columns = ["city_code", "district_name", "district_code"]

In [85]:
district

    city_code district_name district_code
0          11           강남구         11680
1          11           강동구         11740
2          11           강북구         11305
3          11           강서구         11500
4          11           관악구         11620
..        ...           ...           ...
245        46           함평군         46860
246        46           해남군         46820
247        46           화순군         46790
248        50          서귀포시         50130
249        50           제주시         50110

[250 rows x 3 columns]

In [86]:
district.to_csv("district.csv", index = False)

In [87]:
neighborhood = df[["시군구_code", "읍면동_명", "읍면동_code"]]

In [88]:
neighborhood = neighborhood.drop_duplicates().reset_index(drop=True)

In [89]:
neighborhood.columns = ["district_code", "neighborhood_name", "neighborhood_code"]

In [90]:
neighborhood

     district_code neighborhood_name neighborhood_code
0            11680               개포동        1168010300
1            11680               논현동        1168010800
2            11680               대치동        1168010600
3            11680               도곡동        1168011800
4            11680               삼성동        1168010500
...            ...               ...               ...
2809         50110               한림읍        5011025000
2810         50110               해안동        5011013900
2811         50110              화북이동        5011011200
2812         50110              화북일동        5011011100
2813         50110               회천동        5011013300

[2814 rows x 3 columns]

In [91]:
neighborhood.to_csv("neighborhood.csv", index = False)